html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

.container-fluid
{
	background-image: url(fondo.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
}

.titulo
{
	background-color: black;
	color: white;
}

.subtitulo
{
	background-color: black;
	color: white;
}
